* {
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  overflow-y: auto;
}
body {
  font-family: $default-font;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  overflow: hidden;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}
p {
  margin: 0 0 10px;
}
a {

  &:focus,
  &:visited,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
}
