.internal{

  h1{
    margin-left: 230px;
    margin-bottom: 40px;

    @extend %title;

    @media (max-width: 1200px) {
      margin-left: 50px;
    }
    @media (max-width: 992px) {
      margin-left: 25px;
    }
    @media (max-width: 767px) {
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }

  .internal-content{
    width: calc(100% - 60px);
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: 992px) {
      width: calc(100% - 50px);
    }

  }

  .internal-content-text{
    width: 640px;
    display: inline-block;
    margin-left: 50px;

    p{
      margin: 0 0 30px;
      line-height: 30px;
    }

    &--two{
      width: 580px;
      margin-left: 60px;

      @media (max-width: 1400px) {
        width: 500px;
      }
      @media (min-width: 1441px) {
        margin-left: 105px;
      }
      @media (max-width: 1200px) {
        width: 660px;
      }
    }
    @media (max-width: 991px) {
      margin-left: 25px;
      width: 100%;
    }
    @media (max-width: 767px) {
      margin-left: 10px;
      padding-right: 10px;

      p{
        line-height: 1.4;
      }
    }
  }

  .owl-carousel{
    margin-bottom: 90px;
    .owl-item{
      padding: 0 50px;

      img{
        margin-bottom: 50px;
      }
      .item-content-text{
        margin-left: 150px;
        width: 760px;
        @media (max-width: 1400px) {
          margin-left: 100px;
        }
        @media (max-width: 1400px) {
          margin-left: 0;
        }
        @media (max-width: 991px) {
          margin-left: 25px;
          width: 100%;
        }
      }
    }

    .owl-nav{
      .owl-next, .owl-prev{
        top: 40%;
        position: absolute;
        width: 15px;
        height: 24px;
        span{
          display: none;
        }
        &:focus{
          outline: none;
        }
      }
      .owl-prev{
        left: 0;
        background: url('../images/arrow-left.svg') no-repeat;

      }
      .owl-next{
        right: 0;
        background: url('../images/arrow-right.svg') no-repeat;
      }
    }

    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
    @media (max-width: 991px) {
      .owl-item{
        padding: 0;
        img{
          margin-bottom: 90px;
        }
      }
      .owl-dots{
        position: absolute;
        bottom: 160px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
      button.owl-dot {
        span{
          display: inline-block;
          height: 14px;
          width: 14px;
          border-radius: 50%;
          background-color: $primary-color;
          margin: 0 8px;
        }
        &.active {
          span{
            height: 18px;
            width: 18px;
            background-color: $primary-color;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .owl-item{
        padding: 0;
        img{
          margin-bottom: 50px;
        }
        .item-content-text{
          margin-left: 10px;
        }
      }
      .owl-dots{
        bottom: 200px;
      }
      button.owl-dot {
        span{
          height: 10px;
          width: 10px;
          margin: 0 5px;
        }


        &.active {
          span{
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  .photo{
    margin: 70px 0 100px;
    @media (max-width: 767px) {
      margin: 20px 0 50px;
    }
    img{
      margin-bottom: 50px;
      @media (max-width: 767px) {
        margin-bottom: 25px;
      }
    }
    .photo-text{
      margin-left: 200px;
      width: 760px;
      @media (max-width: 1400px) {
        margin-left: 150px;
      }
      @media (max-width: 1200px) {
        margin-left: 50px;
      }
      @media (max-width: 991px) {
        width: 100%;
        margin-left: 25px;
      }
      @media (max-width: 767px) {
        margin-left: 10px;
      }
    }
  }
}
