%title {
  font-family: $default-font;
  font-size: 44px;
  font-weight: normal;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

%title-secondary {
  font-family: $default-font;
  font-size: 24px;
  font-weight: normal;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

%eyebrow {
  font-family: $secondary-font;
  font-size: 14px;
}
