.ads {
  margin-top: 150px;

  @media (max-width: 991px) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

.ads-carousel {
  .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 30px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
  button.owl-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $primary-color;
    margin: 0 5px;
    transition: all 0.2s ease-out;

    @media (max-width: 991px) {
      height: 14px;
      width: 14px;
      margin: 0 8px;
    }
    @media (max-width: 767px) {
      height: 10px;
      width: 10px;
    }

    &.active,
    &:hover {
      height: 15px;
      width: 15px;

      @media (max-width: 991px) {
        height: 18px;
        width: 18px;
      }
      @media (max-width: 767px) {
        height: 15px;
        width: 15px;
      }
    }
  }
}
