.featured-banner{
  margin: 180px 0 90px;
  @media (max-width: 1400px) {
    margin: 180px 0 40px;
  }
  @media (max-width: 767px) {
    margin: 90px 0 40px;
  }
}

.banner-publicity{

  &-vertical{
    max-width: 300px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;

    &--two{
      margin-left: 200px;
    }

    &--mobile{
      display: none;
    }

    @media (max-width: 1400px) {
      max-width: 250px;

      &--two{
        margin-left: 150px;
      }
    }
    @media (max-width: 1200px) {
      display: none;
      max-width: 100%;
      &--mobile{
        display: block;
      }

      &--two{
        margin-left: 50px;
        margin-bottom: 50px;
      }
    }
    @media (max-width: 991px) {
      margin-left: 25px;
      margin-top: 70px;

      &--two{
        margin-left: 25px;
        margin-bottom: 100px;
      }
    }
    @media (max-width: 767px) {
      margin: 10px 10px 50px;
    }
  }
  &-horizontal{
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: block;
    @media (max-width: 991px) {
      margin: 0 25px;
    }
  }
}
