blockquote{
  @extend %title;
  line-height: 63px;
  text-align: center;
  margin-bottom: 100px;
  padding: 70px 0;
  width: 980px;
  margin: 0 auto 100px;
  position: relative;
  &::after, &:before{
    content: '';
    display: block;
    left: 50%;
    margin-left: -59px;
    width: 118px;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
  }

  &::after{
    bottom: 0;
  }

  &::before{
    top: 0;
  }
  @media (max-width: 991px) {
    width: 100%;
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px 0;
    line-height: 1.4;
  }
}
