.breadcrumb{
  background: none;
  padding: 0;
  color: $feature-color;
  margin: 0 0 20px 230px;

  @extend %eyebrow;

  .breadcrumb-item + .breadcrumb-item::before{
    color: $feature-color;
    padding: 0;
    margin: 0 15px;
    content: "";
    border: 1px dotted $feature-color;
    width: 1px;
    height: 15px;
    position: relative;
    border-top: none;
    border-bottom: none;
    top: 2px;
  }

  @media (max-width: 1200px) {
    margin: 0 0 20px 50px;
  }
  @media (max-width: 991px) {
    margin: 0 0 20px 25px;
  }
  @media (max-width: 767px) {
    margin: 0 0 20px 10px;
  }
}
