.footer {
  @extend %eyebrow;
  color: #fff;
  background-color: $primary-color;
  padding: 90px 0;

  @media (max-width: 991px) {
    padding: 45px 0;
  }

  a {
    color: #FFF;
  }

  @media (max-width: 900px) {
    text-align: center;
  }
}

.footer-rights {
  @media (max-width: 900px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer-title {
  color: $secondary-color;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.footer-content {
  @extend %flex-default;
  align-items: flex-start;
}

.footer-links {
  @extend %flex-default;
  align-items: flex-start;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.footer-column {
  margin-right: 100px;

  @media (max-width: 900px) {
    width: 100%;
    margin: 0 0 50px 0;
  }

  a {
    display: block;
    transition: all 0.2s ease-out;

    &:hover {
      color: $secondary-color;
    }
  }
}

.footer-column-back {
  margin-right: 0;

  @media (max-width: 900px) {
    margin-bottom: 0;
  }
}

.footer-back {

  i {
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    border: solid $secondary-color;
    border-width: 0 2px 2px 0;

    transform: translateY(2px) rotate(-135deg);
    -webkit-transform: translateY(2px) rotate(-135deg);
  }
}
