.header-mobile {
  background: #fff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  transition: all 0.3s ease-out;

  @media (max-width: 991px) {
    display: block;
  }
}
.menu-top {
  height: 90px;
  @extend %flex-default;

  @media (max-width: 767px) {
    height: 45px;
  }
}
.content-menu-top {
  width: 100%;
  @extend %flex-default;
}

.m-menu-btn {
  width: 45px;
  height: auto;
  max-width: calc( 2 * #{$h-space});

  img {
    height: auto;
    max-width: 100%;
  }
}
.m-menu-logo {
  width: 290px;
  max-width: calc( 13 * #{$h-space});

  img {
    height: auto;
    width: 100%;
  }
}
.m-menu-search {
  width: 30px;
  max-width: calc( 2 * #{$h-space});

  img {
    height: auto;
    width: 100%;
  }
}


.m-menu-categories {
  border-top: 2px solid #EFEFEF;
  height: 90px;
  @extend %flex-default;
  width: 100%;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 45px;
  }
}

.content-menu-bottom {
  max-width: 100%;
  @extend %flex-default;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    background-image: linear-gradient(to right,transparent,#FFF);
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    right: calc((2 * #{$h-space}) + 30px);
    z-index: 1;
  }
  &:after {
    content: '';
    background: #FFF;
    height: 100%;
    width: 35px;
    position: absolute;
    top: 0;
    right: calc((2 * #{$h-space}) - 5px);

    @media (max-width: 767px) {
      right: calc((2 * #{$h-space}) - 2px);
    }
  }
}

.m-menu-categories-list {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  display: flex;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 26px;

    &:last-of-type {
      padding-right: 70px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      margin: 0 10px;
    }
  }
  a {
    color: $primary-color;
    transition: all 0.2s ease-out;

    &:hover, &.active {
      color: $feature-color;
    }
  }
}


// Hide and Show menu
.nav-up {
  margin-top: -90px;

  @media (max-width: 767px) {
    margin-top: -45px;
  }
}


// MENU OPEN
.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFF;
  z-index: 9;
  font-size: 44px;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;

  &.active {
    transform: translateX(0%);
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.menu-open-languages {
  margin-top: 90px;
  margin-bottom: 80px;

  @media (max-width: 767px) {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  li {
    list-style: none;
    margin-left: 60px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      margin-left: 30px;
      margin-bottom: 15px;
    }
  }

  a {
    color: $primary-color;
  }
}

.menu-open-social {

  a {
    margin-left: 60px;
    display: block;
    color: $feature-color;
    margin-bottom: 30px;

    @media (max-width: 767px){
      margin-bottom: 10px;
      margin-left: 30px;
    }
  }
}


// SEARCH MOBILE
.content-menu-top-search {
  justify-content: flex-end;
}
.search-mobile {
  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 45px;
  }
  input {
    border: 0;
    width: 100%;
    font-size: 44px;

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }
}
