.header-desk {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  @extend %flex-default;
  height: 180px;
  background-color: #FFF;
  transition: all 0.3s ease-out;

  &.header-fixed {
    height: 90px;
    z-index: 7;
  }

  @media (max-width: 991px) {
    display: none;
  }
}

.content-header {
  @extend %flex-default;
}

.header-logo {
  display: block;
  width: calc( 6 * #{$h-space});
  max-width: 240px;

  img {
    display: block;
    width: 100%;
  }
}

// MENUS
.menu {
  display: flex;
}

.menu-item {
  display: inline-block;
  margin-right: 30px;
  padding: 20px 0;
  font-family: $secondary-font;
  font-size: 16px;
  color: $primary-color;
  transition: all 0.2s ease-out;

  @media (max-width: 1199px) {
    margin-right: 15px;
  }

  &.active,
  &:hover {
    color: $feature-color;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.menu-more {
  margin-left: 30px;
  margin-right: 0;
  position: relative;
  padding-right: 16px;

  @media (max-width: 1199px) {
    margin-left: 15px;
  }

  &:after {
    content: url('../images/arrow-down.svg');
    width: 10px;
    position: absolute;
    top: 17px;
    right: 0px;
  }
  &:hover {
    color: $primary-color;
    cursor: pointer;
    .menu-box {
      visibility: visible;
      opacity: 1;
    }
  }

  .menu-box {
    visibility: hidden;
    opacity: 0;
    padding: 40px 30px;
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 0px;
    transform: translate(-35%, 100%);
    transition: all 0.3s ease-out;
  }
}

.menu-box-item {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  white-space: nowrap;
  transition: all 0.2s ease-out;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover,
  &.active {
    color: $feature-color;
  }
}

.menu-search {
  display: inline-block;
  width: 20px;
  margin-left: 30px;

  @media (max-width: 1199px) {
    margin-left: 15px;
  }

  &:hover {
    cursor: pointer;
  }
  img {
    display: block;
    width: 100%;
  }
}

.box-menu-search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding-top: 100px;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.5s ease-out;

   &.active {
    transform: translateY(0%);
   }
}
.content-search {
  position: relative;
}
.search-close {
  display: block;
  width: 30px;
  position: absolute;
  right: calc( 2 * #{$h-space});
  top: -50px;

  img {
    display: block;
    width: 100%;
  }
}
.search-desk {
  width: 100%;

  input {
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 44px;
  }
}
