.intervention-content {
  @extend %flex-default;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}
.intervention-img {
  width: calc(15 * #{$h-space});

  @media (max-width: 991px) {
    display: none;
  }

  img {
    display: block;
    width: 100%;
  }
}

.intervention-text {
  width: calc(16 * #{$h-space});
  padding: 0 25px;
  position: relative;
  padding-top: 50px;

  @media (max-width: 991px){
    width: 100%;
  }
  @media (max-width: 767px) {
    padding-top: 0px;
  }

  &:after {
    content: 'sisluxe.com';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    color: $feature-color;
    font-size: 150px;
    line-height: 120px;
    opacity: 0.2;

    @media (max-width: 767px) {
      font-size: 70px;
      line-height: 80px;
    }
  }
}

.intervention-text-content {
  width: 465px;
  max-width: 50%;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
  }
}

.intervention-carousel-img {
  display: block;
  max-width: 100%;
}

.intervention-carousel {
  .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 10px;
  }
  button.owl-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $primary-color;
    margin: 0 5px;
    transition: all 0.2s ease-out;

    @media (max-width: 991px) {
      height: 14px;
      width: 14px;
      margin: 0 8px;
    }
    @media (max-width: 767px) {
      height: 10px;
      width: 10px;
    }

    &.active,
    &:hover {
      height: 15px;
      width: 15px;

      @media (max-width: 991px) {
        height: 18px;
        width: 18px;
      }
      @media (max-width: 767px) {
        height: 15px;
        width: 15px;
      }
    }
  }
}


.intervention-info {
  text-align: center;
  display: block;
  width: 100%;
}

.intervention-name {
  margin-top: 20px;
  margin-bottom: 5px;

  @extend %title-secondary;

  @media (max-width: 767px) {
    margin-top: 5px;
  }
}

 .intervention-price {
  font-size: 16px;
  font-family: $secondary-font;
  margin-bottom: 25px;
 }

.intervention-btn {
  background-color: $primary-color;
  color: #FFF;
  border: 1px solid $primary-color;
  font-size: 14px;
  font-family: $secondary-font;
  text-transform: uppercase;
  width: 180px;
  margin: 0 auto;
  height: 50px;
  padding-top: 15px;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #FFF;
    color: $primary-color;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
