.most-read {
  background-color: #F3F1ED;
  border-top: 2px solid #EFEFEF;
  padding: 90px 0;
  margin-top: 180px;

  @media (max-width: 991px) {
    padding: 45px 0;
  }

  @media (max-width: 767px) {
    margin-top: 90px;
    padding: 30px 0;
  }
}

.most-read-img {
  display: block;
  height: 350px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.most-read-header {
  margin-bottom: 10px;

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }

  span {
    color: $feature-color;
    @extend %eyebrow;
  }
}
.most-read-category {
  margin-right: 13px;
  padding-right: 15px;
  border-right: 1px dotted $feature-color;
}
.most-read-title {
  @extend %title-secondary;
  color: $primary-color;
  margin-bottom: 5px;

  @media (max-width: 767px) {
    margin-bottom: 0px;
  }
}
.most-read-author {
  color: $secondary-color;
  @extend %eyebrow;
}

// DOTS
@media (max-width: 991px) {
  .most-read-carousel {
    .owl-dots {
      position: relative;
      text-align: center;
      margin-top: 40px;
    }
    button.owl-dot {
      display: inline-block;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $primary-color;
      margin: 0 8px;

      &.active {
        height: 18px;
        width: 18px;
      }
    }
  }
}
@media (max-width: 767px) {
  .most-read-carousel {
    .owl-dots {
      margin-top: 0px;
    }
    button.owl-dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;

      &.active {
        height: 15px;
        width: 15px;
      }
    }
  }
}
