.newsletter-home {
  margin-top: 90px;

  @media (max-width: 767px) {
    margin-top: 45px;
  }
}

.newsletter{
  background-color: #f3f1ed;
  padding: 150px 0;
  text-align: center;
  h2{
    font-size: 44px;
    color: $feature-color;
    margin-bottom: 10px;
  }
  p{
    font-size: 14px;
    margin: 0;
  }

  .form-newsletter{
    justify-content: center;
    -webkit-justify-content: center;
    -moz-webkit-justify-content: center;
    margin-top: 35px;

    .form-control, .btn-primary{
      height: 90px;
      border-radius: 0;
      font-size: 16px;
    }
    .form-control{
      width: 590px;
      border: 2px solid $primary-color;
      padding: 0 0 0 40px;
      width: 590px;
      background: none;
    }
    .btn-primary{
      width: 165px;
      background-color: $primary-color;
      text-transform: uppercase;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover{
        background-color: #131313;
      }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $secondary-color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $secondary-color;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $secondary-color;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $secondary-color;
    }
  }
  @media (max-width: 991px) {
    padding: 100px 0;

    .form-newsletter{
      .form-control, .btn-primary{
        height: 114px;
        font-size: 26px;
      }
      .form-group{
        width: 65%;
      }
      .form-control{
        width: 100%;
      }
      .btn-primary{
        width: 25%;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 50px 0;

    h2{
      font-size: 36px;
    }
    .form-newsletter{
      .form-control, .btn-primary{
        height: 50px;
        font-size: 16px;
      }
      .form-group{
        width: 60%;
        margin: 0;
      }
      .form-control{
        width: 100%;
        padding: 0 0 0 20px;
      }
      .btn-primary{
        width: 30%;
        padding: 0;
      }
    }
  }
}
