.post-default {
  display: block;
  margin-top: 90px;

  @media (max-width: 991px) {
    margin-top: 45px;
  }
}

.post-default-img {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 720px;

  @media (max-width: 991px) {
    height: 450px;
  }

  @media (max-width: 767px) {
    height: 380px;
  }
}

.post-default-content {
  width: 1200px;
  max-width: 90%;
  margin: -40px auto 0;
  padding: 40px 100px 0;
  background-color: #fff;

  @media (max-width: 991px) {
    padding: 40px 50px 0;
  }
  @media (max-width: 767px) {
    padding: 25px 15px 0;
  }
}


.post-default-header {
  color: $feature-color;
  @extend %eyebrow;
  font-size: 14px;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.post-default-category,
.post-default-date {
  margin-right: 13px;
  padding-right: 15px;
  border-right: 1px dotted $feature-color;
}
.post-default-author {
  color: $secondary-color;
}

.post-default-title {
  color: $primary-color;
  @extend %title;
}
