.sidebar{
  text-align: right;
  width: 175px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;

  &-img{
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 14px;
  }

  .sidebar-content{
    &-name{
      margin-bottom: 10px;
      color: $secondary-color;

      @extend %eyebrow;
    }
    &-text{
      width: 90%;
      margin: 0;
      float: right;
    }
    &-link{
      color: $feature-color;
      font-size: 14px;
      font-family: $secondary-font;
      border-bottom: 1px dotted $feature-color;
      display: block;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
  }

  &--right{
    text-align: left;
    font-size: 18px;
    margin-left: 50px;

    .sidebar-content-text{
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
