.video{
  position: relative;
  z-index: 3;
  margin-top: 70px;
  margin: 70px 0 100px;

  .embed-responsive{
    z-index: 1;
  }

  .load-youtube{
    z-index: 5;
    position: absolute;
    top: 0;
    cursor: pointer;

    &.hide{
      display: none;
    }
  }

  .play{
    background: url('../images/play.png');
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    z-index: 6;
    background-size: cover;
    cursor: pointer;

    &.hide{
      display: none;
    }
  }
  @media (max-width: 991px) {
    margin: 100px 0;

    .play{
      width: 160px;
      height: 160px;
      margin-top: -80px;
      margin-left: -80px;
    }
    .load-youtube{
      display: none;
    }
  }
  @media (max-width: 767px) {
    margin: 50px 0;

    .play{
      width: 80px;
      height: 80px;
      margin-top: -40px;
      margin-left: -40px;
    }
  }
}

.video-play {
  @media (max-width: 767px) {
    display: none;
  }
}
